flows/Create_Contact_Link-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Create Contact Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact Link</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Locate_Contact</name>
        <label>Locate Contact</label>
        <locationX>494</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Enquiry_with_Contact_Link</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWebEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>SuppliedEmail is API name of Web Email</description>
        <name>Web_Email_Lookup</name>
        <label>Web Email Lookup</label>
        <locationX>498</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Locate_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEnquiryID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vWebEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vWebName</assignToReference>
            <field>SuppliedName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enquiry_with_Contact_Link</name>
        <label>Update Enquiry with Contact Link</label>
        <locationX>492</locationX>
        <locationY>383</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEnquiryID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Web_Email_Lookup</startElementReference>
    <variables>
        <name>vContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEnquiryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vWebEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vWebName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
