flows/DLHE_XML-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>SIS_ID_Exists</name>
        <label>SIS ID Exists</label>
        <locationX>337</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Student_XML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SIS_ID_is_not_nul</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarTSISID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Student_XML</targetReference>
            </connector>
            <label>SIS ID is not nul</label>
        </rules>
    </decisions>
    <interviewLabel>SIS_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DLHE XML</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Audit</name>
        <label>Create Audit</label>
        <locationX>820</locationX>
        <locationY>252</locationY>
        <inputAssignments>
            <field>Audit_Body__c</field>
            <value>
                <stringValue>DLHE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Event__c</field>
            <value>
                <stringValue>Destinations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>Paste_XML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Period__c</field>
            <value>
                <stringValue>J17</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Output_Section__c</field>
            <value>
                <stringValue>StudentDestination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Programme__c</field>
            <value>
                <elementReference>VarTStudentProgID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>varTStudentID</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Student</name>
        <label>Student</label>
        <locationX>332</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Or_Create</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTStudentID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varTStudentFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTStudentLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTStudentTitle</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Student_Programme</name>
        <label>Student Programme</label>
        <locationX>330</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Student</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTStudentProgID</elementReference>
            </value>
        </filters>
        <object>Student_Programme__c</object>
        <outputAssignments>
            <assignToReference>varTProgCode</assignToReference>
            <field>Programme_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTProgType</assignToReference>
            <field>Programme_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTStudentID</assignToReference>
            <field>Student__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Update_Or_Create</name>
        <label>Update Or Create</label>
        <locationX>335</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SIS_ID_Exists</targetReference>
        </connector>
        <filters>
            <field>Student_Programme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTStudentProgID</elementReference>
            </value>
        </filters>
        <object>SIS_Audit__c</object>
        <outputAssignments>
            <assignToReference>VarTCurrentXML</assignToReference>
            <field>Audit_Output__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTSISID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>SIS_Update</name>
        <label>SIS Update</label>
        <locationX>827</locationX>
        <locationY>505</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTSISID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>Paste_XML_0</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordUpdates>
    <screens>
        <name>Student_XML</name>
        <label>Student XML</label>
        <locationX>820</locationX>
        <locationY>342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Audit</targetReference>
        </connector>
        <fields>
            <name>helptext</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Entering DLHE XML for:&lt;FONT STYLE=&quot;font-size:20px&quot; KERNING=&quot;1&quot;&gt;{!varTStudentFirstName}   {!varTStudentLastName}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Programme: {!varTProgCode}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Paste_XML</name>
            <fieldText>Paste XML</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Update_Student_XML</name>
        <label>Update Student XML</label>
        <locationX>591</locationX>
        <locationY>501</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SIS_Update</targetReference>
        </connector>
        <fields>
            <name>helptext_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Updating DLHE XML for:&lt;FONT STYLE=&quot;font-size:20px&quot;&gt;{!varTStudentTitle}   {!varTStudentFirstName}   {!varTStudentLastName}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Programme: {!varTProgCode} &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentXML</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The current XML is:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Paste_XML_0</name>
            <defaultValue>
                <elementReference>VarTCurrentXML</elementReference>
            </defaultValue>
            <fieldText>Paste XML</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Student_Programme</startElementReference>
    <variables>
        <name>ProgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StudID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTCurrentXML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTProgCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTProgType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTSISID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTStudentFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTStudentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTStudentLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTStudentProgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTStudentTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
