flows/HESA_Module_XML_Output-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Error_Message</name>
        <label>Post Error Message</label>
        <locationX>961</locationX>
        <locationY>188</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vModuleID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>cErrorMessagePost</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vErrorPost</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>cAuditBody</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HESA</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Module</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditPeriod</name>
        <dataType>String</dataType>
        <value>
            <stringValue>H1516</stringValue>
        </value>
    </constants>
    <constants>
        <name>cErrorMessagePost</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There has been an error with the Course XML Flow</stringValue>
        </value>
    </constants>
    <constants>
        <name>cLSTM_tbc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>*** LSTM tbc ***</stringValue>
        </value>
    </constants>
    <constants>
        <name>cOrderInXML</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cOutputSection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Module</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStdProgrammeCredits</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>180.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cWIP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Work in Progress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existing_or_New_Audit</name>
        <label>Existing or New Audit</label>
        <locationX>591</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Post_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_Module.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Module_XML_Create</targetReference>
            </connector>
            <label>New Audit</label>
        </rules>
        <rules>
            <name>Existing_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_Module.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Module_XML_Update</targetReference>
            </connector>
            <label>Existing Audit</label>
        </rules>
    </decisions>
    <description>Invoked by Process &apos;HESA Module Audit Event&apos;, which is by Active = True or use of Audit Trigger checkbox</description>
    <formulas>
        <description>https://www.hesa.ac.uk/index.php?option=com_studrec&amp;task=show_file&amp;mnl=15051&amp;href=a^_^CRDTPTS.html

If CRDTSCM = 9 (ie not MSc Module), then needs to be 999</description>
        <name>fCrdtPts</name>
        <dataType>String</dataType>
        <expression>IF ( TEXT ( {!sO_Module.Module_Type__c} ) = &quot;MSc Module&quot;, &quot;0&quot; &amp; TEXT ({!sO_Module.Credits__c}), &quot;999&quot;)</expression>
    </formulas>
    <formulas>
        <description>From: https://www.hesa.ac.uk/index.php?option=com_studrec&amp;task=show_file&amp;mnl=15051&amp;href=a^_^CRDTSCM.html

MSc = 1; Diplomas = 9</description>
        <name>fCrdtScm</name>
        <dataType>String</dataType>
        <expression>IF ( TEXT ( {!sO_Module.Module_Type__c} ) = &quot;MSc Module&quot;, &quot;1&quot;, &quot;9&quot;)</expression>
    </formulas>
    <formulas>
        <description>This field indicates the proportion of a full-time equivalent year attributed to the module.
Set as 100 for Diplomas 
https://www.hesa.ac.uk/collection/c15051/a/fte/</description>
        <name>fFTE</name>
        <dataType>String</dataType>
        <expression>IF ( TEXT ({!sO_Module.Module_Type__c}) = &quot;MSc Module&quot;,
    TEXT ({!sO_Module.Credits__c}/{!cStdProgrammeCredits}),
    &quot;100&quot;
)</expression>
    </formulas>
    <formulas>
        <description>From: https://www.hesa.ac.uk/index.php?option=com_studrec&amp;task=show_file&amp;mnl=15051&amp;href=a^_^LEVLPTS.html
Msc Modules=6; Diploma=9</description>
        <name>fLevlPts</name>
        <dataType>String</dataType>
        <expression>IF ( TEXT ( {!sO_Module.Module_Type__c} ) = &quot;MSc Module&quot;, &quot;6&quot;, &quot;9&quot;)</expression>
    </formulas>
    <formulas>
        <description>To Hesa format</description>
        <name>fModuleXML</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;MODID&gt;&quot; &amp; {!sO_Module.Instance_Code__c} &amp; &quot;&lt;/MODID&gt;&quot; &amp;
&quot;&lt;CRDTPTS&gt;&quot; &amp; {!fCrdtPts} &amp; &quot;&lt;/CRDTPTS&gt;&quot; &amp;
&quot;&lt;CRDTSCM&gt;&quot; &amp; {!fCrdtScm} &amp; &quot;&lt;/CRDTSCM&gt;&quot; &amp;
&quot;&lt;FTE&gt;&quot; &amp; {!fFTE} &amp; &quot;&lt;/FTE&gt;&quot; &amp;
&quot;&lt;LEVLPTS&gt;&quot; &amp; {!fLevlPts} &amp; &quot;&lt;/LEVLPTS&gt;&quot; &amp;
&quot;&lt;MTITLE&gt;&quot; &amp; {!sO_Module.Name} &amp; &quot;&lt;/MTITLE&gt;&quot; &amp;
&quot;&lt;PCOLAB&gt;00&lt;/PCOLAB&gt;&quot; &amp;
&quot;&lt;ModuleSubject&gt;&quot; &amp;
      &quot;&lt;COSTCN&gt;&quot; &amp; {!sO_Module.HESA_Cost_Centre__c} &amp; &quot;&lt;/COSTCN&gt;&quot; &amp;
      &quot;&lt;MODSBJ&gt;A900&lt;/MODSBJ&gt;&quot; &amp;
      &quot;&lt;MODSBJP&gt;100&lt;/MODSBJP&gt;&quot; &amp;
&quot;&lt;/ModuleSubject&gt;&quot;</expression>
    </formulas>
    <interviewLabel>HESA Module XML Output  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HESA Module XML Output</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Module_XML_Create</name>
        <label>Module XML Create</label>
        <locationX>438</locationX>
        <locationY>320</locationY>
        <assignRecordIdToReference>vModuleXMLID</assignRecordIdToReference>
        <connector>
            <targetReference>Audit_ID_to_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Audit_Body__c</field>
            <value>
                <elementReference>cAuditBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Event__c</field>
            <value>
                <elementReference>cAuditEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fModuleXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Period__c</field>
            <value>
                <elementReference>cAuditPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>cOrderInXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_ID__c</field>
            <value>
                <elementReference>vModuleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Output_Section__c</field>
            <value>
                <elementReference>cOutputSection</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Module</name>
        <label>Module</label>
        <locationX>594</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_or_New_Audit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vModuleID</elementReference>
            </value>
        </filters>
        <object>Module__c</object>
        <outputReference>sO_Module</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Active_Date__c</queriedFields>
        <queriedFields>Credits__c</queriedFields>
        <queriedFields>Passmark__c</queriedFields>
        <queriedFields>Module_Code__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Retire_Date__c</queriedFields>
        <queriedFields>Audit_Log__c</queriedFields>
        <queriedFields>Module_Type__c</queriedFields>
        <queriedFields>Module_Reference__c</queriedFields>
        <queriedFields>Instance_Code__c</queriedFields>
        <queriedFields>HESA_Cost_Centre__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Audit_ID_to_Module</name>
        <label>Audit ID to Module</label>
        <locationX>438</locationX>
        <locationY>457</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vModuleID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Log__c</field>
            <value>
                <elementReference>vModuleXMLID</elementReference>
            </value>
        </inputAssignments>
        <object>Module__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Module_XML_Update</name>
        <label>Module XML Update</label>
        <locationX>720</locationX>
        <locationY>322</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_Module.Audit_Log__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fModuleXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordUpdates>
    <startElementReference>Module</startElementReference>
    <variables>
        <name>sO_Module</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Module__c</objectType>
    </variables>
    <variables>
        <name>vErrorPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vModuleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vModuleXMLID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
