flows/HESA_Student_on_Module_XML_Output-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Error_Message</name>
        <label>Post Error Message</label>
        <locationX>961</locationX>
        <locationY>190</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vStudentModuleID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>cErrorMessagePost</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vErrorPost</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>cAuditBody</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HESA</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Updated Student Module</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditPeriod</name>
        <dataType>String</dataType>
        <value>
            <stringValue>H1516</stringValue>
        </value>
    </constants>
    <constants>
        <name>cErrorMessagePost</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There has been an error with the Course XML Flow</stringValue>
        </value>
    </constants>
    <constants>
        <name>cLSTM_tbc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>*** LSTM tbc ***</stringValue>
        </value>
    </constants>
    <constants>
        <name>cOrderInXML</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cOutputSection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Student on Module</stringValue>
        </value>
    </constants>
    <constants>
        <name>cWIP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Work in Progress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existing_or_New_Audit</name>
        <label>Existing or New Audit</label>
        <locationX>591</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Post_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_StudentModule.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_on_Module_XML_Create</targetReference>
            </connector>
            <label>New Audit</label>
        </rules>
        <rules>
            <name>Existing_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_StudentModule.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_on_Module_XML_Update</targetReference>
            </connector>
            <label>Existing Audit</label>
        </rules>
    </decisions>
    <description>Invoked by Process &apos;HESA Student Module Audit Event&apos;, which is by use of Audit Trigger checkbox; includes setting Audit Trigger on parent Module to True</description>
    <formulas>
        <name>fStudentOnModuleXML</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;MODID&gt;&quot; &amp; {!sO_StudentModule.Module_Reference__c} &amp; &quot;&lt;/MODID&gt;&quot; &amp;
&quot;&lt;MODOUT&gt;6&lt;/MODOUT&gt;&quot; &amp;
&quot;&lt;MODSTAT&gt;2&lt;/MODSTAT&gt;&quot;</expression>
    </formulas>
    <interviewLabel>HESA Student on Module XML Output {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HESA Student on Module XML Output</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Student_on_Module_XML_Create</name>
        <label>Student on Module XML Create</label>
        <locationX>438</locationX>
        <locationY>320</locationY>
        <assignRecordIdToReference>vStudentOnModuleXMLID</assignRecordIdToReference>
        <connector>
            <targetReference>Audit_ID_to_Student_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Audit_Body__c</field>
            <value>
                <elementReference>cAuditBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Event__c</field>
            <value>
                <elementReference>cAuditEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fStudentOnModuleXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Period__c</field>
            <value>
                <elementReference>cAuditPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>cOrderInXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_ID__c</field>
            <value>
                <elementReference>vStudentModuleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Output_Section__c</field>
            <value>
                <elementReference>cOutputSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Programme__c</field>
            <value>
                <elementReference>sO_StudentModule.Student_Programme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>sO_StudentModule.Student__c</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Module</name>
        <label>Module</label>
        <locationX>387</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trigger_Module</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_StudentModule.Module__c</elementReference>
            </value>
        </filters>
        <object>Module__c</object>
        <outputReference>sO_Module</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Audit_Trigger__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Student_Module</name>
        <label>Student Module</label>
        <locationX>167</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Module</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStudentModuleID</elementReference>
            </value>
        </filters>
        <object>Student_Module__c</object>
        <outputReference>sO_StudentModule</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Audit_Log__c</queriedFields>
        <queriedFields>Audit_Trigger__c</queriedFields>
        <queriedFields>Long_Name__c</queriedFields>
        <queriedFields>Assessments_Created__c</queriedFields>
        <queriedFields>Assessment_Count__c</queriedFields>
        <queriedFields>Completed_Count__c</queriedFields>
        <queriedFields>Module_Type__c</queriedFields>
        <queriedFields>Member_Type__c</queriedFields>
        <queriedFields>Module_Score__c</queriedFields>
        <queriedFields>Module_Result__c</queriedFields>
        <queriedFields>Student__c</queriedFields>
        <queriedFields>Student_Programme__c</queriedFields>
        <queriedFields>Module_Reference__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Audit_ID_to_Student_Module</name>
        <label>Audit ID to Student Module</label>
        <locationX>438</locationX>
        <locationY>457</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStudentModuleID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Log__c</field>
            <value>
                <elementReference>vStudentOnModuleXMLID</elementReference>
            </value>
        </inputAssignments>
        <object>Student_Module__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Student_on_Module_XML_Update</name>
        <label>Student on Module XML Update</label>
        <locationX>730</locationX>
        <locationY>334</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_StudentModule.Audit_Log__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fStudentOnModuleXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Trigger_Module</name>
        <label>Trigger Module</label>
        <locationX>583</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Existing_or_New_Audit</targetReference>
        </connector>
        <filters>
            <field>Audit_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Module__c</object>
    </recordUpdates>
    <startElementReference>Student_Module</startElementReference>
    <variables>
        <name>sO_Module</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Module__c</objectType>
    </variables>
    <variables>
        <name>sO_StudentModule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student_Module__c</objectType>
    </variables>
    <variables>
        <name>vErrorPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStudentModuleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStudentOnModuleXMLID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
