flows/HESA_Student_on_Module_XML_Output-16.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Error_Message</name>
        <label>Post Error Message</label>
        <locationX>1063</locationX>
        <locationY>324</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vStudentModuleID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>cErrorMessagePost</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vErrorPost</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>cAuditBody</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HESA</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Student Module</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditPeriod</name>
        <dataType>String</dataType>
        <value>
            <stringValue>H1617</stringValue>
        </value>
    </constants>
    <constants>
        <name>cErrorMessagePost</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There has been an error with the Course XML Flow</stringValue>
        </value>
    </constants>
    <constants>
        <name>cLSTM_tbc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>*** LSTM tbc ***</stringValue>
        </value>
    </constants>
    <constants>
        <name>cOrderInXML</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cOutputSection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Student on Module</stringValue>
        </value>
    </constants>
    <constants>
        <name>cWIP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Work in Progress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Module_Audit_Log_Exist</name>
        <label>Does Module Audit Log Exist</label>
        <locationX>612</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Audit_Log_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_Module.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_or_New_Audit</targetReference>
            </connector>
            <label>Audit Log Exists</label>
        </rules>
        <rules>
            <name>No_Audit_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_Module.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Audit_Trigger</targetReference>
            </connector>
            <label>No Audit Log</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_or_New_Audit</name>
        <label>Existing or New Audit</label>
        <locationX>610</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>Post_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_StudentModule.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_on_Module_XML_Create</targetReference>
            </connector>
            <label>New Audit</label>
        </rules>
        <rules>
            <name>Existing_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_StudentModule.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_on_Module_XML_Update</targetReference>
            </connector>
            <label>Existing Audit</label>
        </rules>
    </decisions>
    <description>Invoked by Process &apos;HESA Student Module Audit Event&apos;, which is by use of Audit Trigger checkbox; includes setting Audit Trigger on parent Module to True</description>
    <formulas>
        <description>Records if the student completed the module and if so whether they gained credit or not.
1 = Completed - gained full credit
2 = Completion - did not gain credit (fail)
6 = Module outcome not yet known</description>
        <name>fMODOUT</name>
        <dataType>String</dataType>
        <expression>Case ( {!sO_StudentModule.Module_Result__c}, &quot;Fail&quot;, &quot;2&quot;, &quot;Pass&quot;, &quot;1&quot;, &quot;Merit&quot;, &quot;1&quot;, &quot;Distinction&quot;, &quot;1&quot;, &quot;Not Completed&quot;, &quot;6&quot;, &quot;6&quot;)</expression>
    </formulas>
    <formulas>
        <description>Indicates whether modules span HESA reporting years
2 = Contained within reporting year
3 = Continuing into next reporting year

Only Research Project (TROP942) goes over HESA year</description>
        <name>fMODSTAT</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!sO_StudentModule.HESA_Module_Status_temp__c}), 
    IF ( LEFT( {!sO_StudentModule.Module_Reference__c}, 7) = &quot;TROP942&quot;, &quot;3&quot;, &quot;2&quot;),
    Text ({!sO_StudentModule.HESA_Module_Status_temp__c})
)</expression>
    </formulas>
    <formulas>
        <name>fStudentOnModuleXML</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;MODID&gt;&quot; &amp; {!sO_StudentModule.Module_Instance_Code__c} &amp; &quot;&lt;/MODID&gt;&quot; &amp;
&quot;&lt;MODOUT&gt;&quot; &amp; {!fMODOUT} &amp; &quot;&lt;/MODOUT&gt;&quot; &amp;
&quot;&lt;MODSTAT&gt;&quot; &amp; {!fMODSTAT} &amp; &quot;&lt;/MODSTAT&gt;&quot;</expression>
    </formulas>
    <interviewLabel>HESA Student on Module XML Output {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HESA Student on Module XML Output</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Student_on_Module_XML_Create</name>
        <label>Student on Module XML Create</label>
        <locationX>433</locationX>
        <locationY>432</locationY>
        <assignRecordIdToReference>vStudentOnModuleXMLID</assignRecordIdToReference>
        <connector>
            <targetReference>Audit_ID_to_Student_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Audit_Body__c</field>
            <value>
                <elementReference>cAuditBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Event__c</field>
            <value>
                <elementReference>cAuditEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fStudentOnModuleXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Period__c</field>
            <value>
                <elementReference>cAuditPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>cOrderInXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_ID__c</field>
            <value>
                <elementReference>vStudentModuleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Output_Section__c</field>
            <value>
                <elementReference>cOutputSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Programme__c</field>
            <value>
                <elementReference>sO_StudentModule.Student_Programme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>sO_StudentModule.Student__c</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Module</name>
        <label>Module</label>
        <locationX>396</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Module_Audit_Log_Exist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_StudentModule.Module_ID__c</elementReference>
            </value>
        </filters>
        <object>Module__c</object>
        <outputReference>sO_Module</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Audit_Trigger__c</queriedFields>
        <queriedFields>Audit_Log__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Student_Module</name>
        <label>Student Module</label>
        <locationX>174</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Module</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStudentModuleID</elementReference>
            </value>
        </filters>
        <object>Student_Module__c</object>
        <outputReference>sO_StudentModule</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Audit_Log__c</queriedFields>
        <queriedFields>Audit_Trigger__c</queriedFields>
        <queriedFields>Long_Name__c</queriedFields>
        <queriedFields>Assessments_Created__c</queriedFields>
        <queriedFields>Assessment_Count__c</queriedFields>
        <queriedFields>Completed_Count__c</queriedFields>
        <queriedFields>Module_Type__c</queriedFields>
        <queriedFields>Member_Type__c</queriedFields>
        <queriedFields>Module_Score__c</queriedFields>
        <queriedFields>Module_Result__c</queriedFields>
        <queriedFields>Student__c</queriedFields>
        <queriedFields>Student_Programme__c</queriedFields>
        <queriedFields>Module_Reference__c</queriedFields>
        <queriedFields>Module_ID__c</queriedFields>
        <queriedFields>Module_Instance_Code__c</queriedFields>
        <queriedFields>HESA_Module_Status_temp__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Audit_ID_to_Student_Module</name>
        <label>Audit ID to Student Module</label>
        <locationX>433</locationX>
        <locationY>569</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStudentModuleID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Log__c</field>
            <value>
                <elementReference>vStudentOnModuleXMLID</elementReference>
            </value>
        </inputAssignments>
        <object>Student_Module__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Audit Trigger on Module to True, which invokes a separate Flow to create Module HESA XML output</description>
        <name>Set_Audit_Trigger</name>
        <label>Set Audit  Trigger</label>
        <locationX>856</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Existing_or_New_Audit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_Module.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Module__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Student_on_Module_XML_Update</name>
        <label>Student on Module XML Update</label>
        <locationX>725</locationX>
        <locationY>446</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_StudentModule.Audit_Log__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fStudentOnModuleXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Period__c</field>
            <value>
                <elementReference>cAuditPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordUpdates>
    <startElementReference>Student_Module</startElementReference>
    <variables>
        <name>sO_Module</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Module__c</objectType>
    </variables>
    <variables>
        <name>sO_StudentModule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student_Module__c</objectType>
    </variables>
    <variables>
        <name>vErrorPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStudentModuleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStudentOnModuleXMLID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
