flows/HESA_Quals_on_Entry_XML_Output-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Error_Message</name>
        <label>Post Error Message</label>
        <locationX>961</locationX>
        <locationY>190</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vQualExpID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>cErrorMessagePost</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vErrorPost</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>cAuditBody</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HESA</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualification</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditPeriod</name>
        <dataType>String</dataType>
        <value>
            <stringValue>H1516</stringValue>
        </value>
    </constants>
    <constants>
        <name>cErrorMessagePost</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There has been an error with the Qual on Entry XML Flow</stringValue>
        </value>
    </constants>
    <constants>
        <name>cLSTM_tbc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>*** LSTM tbc ***</stringValue>
        </value>
    </constants>
    <constants>
        <name>cOrderInXML</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cOutputSection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualification on Entry</stringValue>
        </value>
    </constants>
    <constants>
        <name>cWIP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Work in Progress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existing_or_New_Audit</name>
        <label>Existing or New Audit</label>
        <locationX>591</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Post_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_Qualifications.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quals_on_Entry_XML_Create</targetReference>
            </connector>
            <label>New Audit</label>
        </rules>
        <rules>
            <name>Existing_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_Qualifications.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qual_on_Entry_XML_Update</targetReference>
            </connector>
            <label>Existing Audit</label>
        </rules>
    </decisions>
    <description>Invoked by Process &apos;HESA Quals on Entry Audit Event&apos;, which is invoked by Audit Trigger checkbox</description>
    <formulas>
        <name>fQualsOnEntryXML</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;QUALGRADE&gt;&quot; &amp; {!sO_Qualifications.Class_Grade__c} &amp; &quot;&lt;/QUALGRADE&gt;&quot; &amp;
&quot;&lt;QUALSBJ&gt;C14&lt;/QUALSBJ&gt;&quot; &amp;
&quot;&lt;QUALSIT&gt;W&lt;/QUALSIT&gt;&quot; &amp;
&quot;&lt;QUALTYPE&gt;A&lt;/QUALTYPE&gt;&quot; &amp;
&quot;&lt;QUALYEAR&gt;2010&lt;/QUALYEAR&gt;&quot;</expression>
    </formulas>
    <interviewLabel>HESA Quals on Entry XML Output {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HESA Quals on Entry XML Output</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Quals_on_Entry_XML_Create</name>
        <label>Quals on Entry XML Create</label>
        <locationX>438</locationX>
        <locationY>320</locationY>
        <assignRecordIdToReference>vQualOnEntryXMLID</assignRecordIdToReference>
        <connector>
            <targetReference>Audit_ID_to_Qual_Exp</targetReference>
        </connector>
        <inputAssignments>
            <field>Audit_Body__c</field>
            <value>
                <elementReference>cAuditBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Event__c</field>
            <value>
                <elementReference>cAuditEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fQualsOnEntryXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Period__c</field>
            <value>
                <elementReference>cAuditPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>cOrderInXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_ID__c</field>
            <value>
                <elementReference>vQualExpID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Output_Section__c</field>
            <value>
                <elementReference>cOutputSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>sO_Qualifications.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Qualifications_on_Entry</name>
        <label>Qualifications on Entry</label>
        <locationX>594</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_or_New_Audit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQualExpID</elementReference>
            </value>
        </filters>
        <object>Qualifications_Experience__c</object>
        <outputReference>sO_Qualifications</outputReference>
        <queriedFields>Audit_Trigger__c</queriedFields>
        <queriedFields>Audit_Log__c</queriedFields>
        <queriedFields>Class_Grade__c</queriedFields>
        <queriedFields>Qualification__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Audit_ID_to_Qual_Exp</name>
        <label>Audit ID to Qual &amp; Exp</label>
        <locationX>438</locationX>
        <locationY>457</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQualExpID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Log__c</field>
            <value>
                <elementReference>vQualOnEntryXMLID</elementReference>
            </value>
        </inputAssignments>
        <object>Qualifications_Experience__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Qual_on_Entry_XML_Update</name>
        <label>Qual on Entry XML Update</label>
        <locationX>720</locationX>
        <locationY>322</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_Qualifications.Audit_Log__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fQualsOnEntryXML</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordUpdates>
    <startElementReference>Qualifications_on_Entry</startElementReference>
    <variables>
        <name>sO_Qualifications</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Qualifications_Experience__c</objectType>
    </variables>
    <variables>
        <name>vErrorPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record ID from envoked Quals &amp; Exp record; passed by Process</description>
        <name>vQualExpID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Defines record ID of the created Audit record, for updating back to Qual&amp;Exp record</description>
        <name>vQualOnEntryXMLID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
