flows/HESA_Supervisor_XML_Output-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Error_Message</name>
        <label>Post Error Message</label>
        <locationX>1172</locationX>
        <locationY>233</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vSupervisorID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>cErrorMessagePost</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vErrorPost</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>cAuditBody</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HESA</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>REF Data</stringValue>
        </value>
    </constants>
    <constants>
        <name>cAuditPeriod</name>
        <dataType>String</dataType>
        <value>
            <stringValue>H1516</stringValue>
        </value>
    </constants>
    <constants>
        <name>cErrorMessagePost</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There has been an error with the Supervisor XML Flow</stringValue>
        </value>
    </constants>
    <constants>
        <name>cLSTM_tbc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>*** LSTM tbc ***</stringValue>
        </value>
    </constants>
    <constants>
        <name>cOrderinXML</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cOutputSecton</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit of Assessment</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existing_or_New_Audit</name>
        <label>Existing or New Audit</label>
        <locationX>785</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Post_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_Supervisor.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supvisor_XML_Create</targetReference>
            </connector>
            <label>New Audit</label>
        </rules>
        <rules>
            <name>Existing_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sO_Supervisor.Audit_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supervisor_XML_Update</targetReference>
            </connector>
            <label>Existing Audit</label>
        </rules>
    </decisions>
    <description>Invoked by Process &apos;HESA Supervisor Audit Event, which is by use of Audit Trigger checkbox</description>
    <formulas>
        <name>fColProv</name>
        <dataType>String</dataType>
        <expression>{!sO_Supervisor.HESA_Collaborating_Provider_temp__c}</expression>
    </formulas>
    <formulas>
        <name>fSupervisorXML</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;COLPROV&gt;&quot; &amp; {!fColProv} &amp; &quot;&lt;/COLPROV&gt;&quot; &amp;
&quot;&lt;UOA2014&gt;&quot; &amp; {!fUOA2014} &amp; &quot;&lt;/UOA2014&gt;&quot; &amp;
&quot;&lt;UOAPCNT&gt;&quot; &amp; {!fUOAPcnt} &amp; &quot;&lt;/UOAPCNT&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>fUOA2014</name>
        <dataType>String</dataType>
        <expression>{!sO_Supervisor.HESA_Unit_of_Assessment_temp__c}</expression>
    </formulas>
    <formulas>
        <name>fUOAPcnt</name>
        <dataType>String</dataType>
        <expression>TEXT({!sO_Supervisor.Supervisor_Weighting__c}*10000)</expression>
    </formulas>
    <interviewLabel>HESA Supervisor XML Output {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HESA Supervisor XML Output</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Supvisor_XML_Create</name>
        <label>Supvisor XML Create</label>
        <locationX>634</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>vSupervisorXMLID</assignRecordIdToReference>
        <connector>
            <targetReference>Audit_ID_to_Supervisor</targetReference>
        </connector>
        <inputAssignments>
            <field>Audit_Body__c</field>
            <value>
                <elementReference>cAuditBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Event__c</field>
            <value>
                <elementReference>cAuditEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fSupervisorXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Period__c</field>
            <value>
                <elementReference>cAuditPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>cOrderinXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_ID__c</field>
            <value>
                <elementReference>vSupervisorID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Output_Section__c</field>
            <value>
                <elementReference>cOutputSecton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Programme__c</field>
            <value>
                <elementReference>sO_Supervisor.Student_Programme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>sO_StudentProgramme.Student__c</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Student_Programme</name>
        <label>Student Programme</label>
        <locationX>785</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_or_New_Audit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_Supervisor.Student_Programme__c</elementReference>
            </value>
        </filters>
        <object>Student_Programme__c</object>
        <outputReference>sO_StudentProgramme</outputReference>
        <queriedFields>Student__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Supervisor</name>
        <label>Supervisor</label>
        <locationX>584</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Student_Programme</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSupervisorID</elementReference>
            </value>
        </filters>
        <object>Supervision__c</object>
        <outputReference>sO_Supervisor</outputReference>
        <queriedFields>Audit_Log__c</queriedFields>
        <queriedFields>HESA_Unit_of_Assessment_temp__c</queriedFields>
        <queriedFields>HESA_Collaborating_Provider_temp__c</queriedFields>
        <queriedFields>Supervisor_Weighting__c</queriedFields>
        <queriedFields>Student_Programme__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Audit_ID_to_Supervisor</name>
        <label>Audit ID to Supervisor</label>
        <locationX>634</locationX>
        <locationY>493</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSupervisorID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Log__c</field>
            <value>
                <elementReference>vSupervisorXMLID</elementReference>
            </value>
        </inputAssignments>
        <object>Supervision__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Supervisor_XML_Update</name>
        <label>Supervisor XML Update</label>
        <locationX>938</locationX>
        <locationY>364</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sO_Supervisor.Audit_Log__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Audit_Output__c</field>
            <value>
                <elementReference>fSupervisorXML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SIS_Audit__c</object>
    </recordUpdates>
    <startElementReference>Supervisor</startElementReference>
    <variables>
        <name>sO_StudentProgramme</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student_Programme__c</objectType>
    </variables>
    <variables>
        <name>sO_Supervisor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supervision__c</objectType>
    </variables>
    <variables>
        <name>vErrorPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSupervisorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSupervisorXMLID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
