flows/PAP_Membership_Assignment-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_to_update_collection</name>
        <label>Assign to update collection</label>
        <locationX>178</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>socPAPMembersUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lvRelatedPAPMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_PAP_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_to_Progress_Assessment</name>
        <label>Parent to Progress Assessment</label>
        <locationX>355</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>lvRelatedPAPMember.Progress_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTProgressAssessmentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_update_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Previous_Panel_exists</name>
        <label>Previous Panel exists?</label>
        <locationX>726</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTPreviousPeriodId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_PAP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTPreviousPeriodId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Relates PAP Member records to Progress Assessment records for each Research Period on creation of new Progress Assessment. Invoked by Progress Assessment Process</description>
    <interviewLabel>PAP Membership Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PAP Membership Assignment</label>
    <loops>
        <name>Related_PAP_Members</name>
        <label>Related PAP Members</label>
        <locationX>355</locationX>
        <locationY>95</locationY>
        <assignNextValueToReference>lvRelatedPAPMember</assignNextValueToReference>
        <collectionReference>socRelatedPAPMemberIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Parent_to_Progress_Assessment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PAP_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PAP_Members</name>
        <label>PAP Members</label>
        <locationX>175</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_PAP_Members</targetReference>
        </connector>
        <filters>
            <field>Research_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTResearchPeriodId</elementReference>
            </value>
        </filters>
        <object>PAP_Member__c</object>
        <outputReference>socRelatedPAPMemberIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Progress_Assessment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Previous_PAP</name>
        <label>Previous PAP</label>
        <locationX>892</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_of_Previous_Review</targetReference>
        </connector>
        <filters>
            <field>Assessed_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTPreviousPeriodId</elementReference>
            </value>
        </filters>
        <object>Progress_Assessment__c</object>
        <outputAssignments>
            <assignToReference>varDPreviousDateofReview</assignToReference>
            <field>Date_of_Review__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vartTPreviousProgressAssessmentID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Date_of_Review__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Previous_Period</name>
        <label>Previous Period</label>
        <locationX>573</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Panel_exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTResearchPeriodId</elementReference>
            </value>
        </filters>
        <object>Research_Period__c</object>
        <outputAssignments>
            <assignToReference>varTPreviousPeriodId</assignToReference>
            <field>Previous_Period__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Date_of_Previous_Review</name>
        <label>Date of Previous Review</label>
        <locationX>891</locationX>
        <locationY>220</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTProgressAssessmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Review__c</field>
            <value>
                <elementReference>varDPreviousDateofReview</elementReference>
            </value>
        </inputAssignments>
        <object>Progress_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PAP_Members</name>
        <label>Update PAP Members</label>
        <locationX>573</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>Previous_Period</targetReference>
        </connector>
        <inputReference>socPAPMembersUpdateCollection</inputReference>
    </recordUpdates>
    <startElementReference>PAP_Members</startElementReference>
    <variables>
        <name>lvRelatedPAPMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>socPAPMembersUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>socRelatedPAPMemberIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>varDPreviousDateofReview</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTPreviousPeriodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTProgressAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTResearchPeriodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vartTPreviousProgressAssessmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
