flows/PAP_Membership_Assignment-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_to_update_collection</name>
        <label>Assign to update collection</label>
        <locationX>178</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>socPAPMembersUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lvRelatedPAPMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_PAP_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_to_Progress_Assessment</name>
        <label>Parent to Progress Assessment</label>
        <locationX>355</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>lvRelatedPAPMember.Progress_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTProgressAssessmentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_update_collection</targetReference>
        </connector>
    </assignments>
    <description>Relates PAP Member records to Progress Assessment records for each Research Period on creation of new Progress Assessment. Invoked by Progress Assessment Process</description>
    <interviewLabel>PAP Membership Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PAP Membership Assignment</label>
    <loops>
        <name>Related_PAP_Members</name>
        <label>Related PAP Members</label>
        <locationX>355</locationX>
        <locationY>95</locationY>
        <assignNextValueToReference>lvRelatedPAPMember</assignNextValueToReference>
        <collectionReference>socRelatedPAPMemberIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Parent_to_Progress_Assessment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PAP_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PAP_Members</name>
        <label>PAP Members</label>
        <locationX>175</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_PAP_Members</targetReference>
        </connector>
        <filters>
            <field>Research_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTResearchPeriodId</elementReference>
            </value>
        </filters>
        <object>PAP_Member__c</object>
        <outputReference>socRelatedPAPMemberIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Progress_Assessment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PAP_Members</name>
        <label>Update PAP Members</label>
        <locationX>573</locationX>
        <locationY>95</locationY>
        <inputReference>socPAPMembersUpdateCollection</inputReference>
    </recordUpdates>
    <startElementReference>PAP_Members</startElementReference>
    <variables>
        <name>lvRelatedPAPMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>socPAPMembersUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>socRelatedPAPMemberIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>varTProgressAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTResearchPeriodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
