flows/ProvisionsFlow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>cName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Provision</name>
        <label>Has Provision</label>
        <locationX>692</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Provision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ProvisionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Provision</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_Provision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ProvisionID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provision_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provision_Active</name>
        <label>Provision Active</label>
        <locationX>693</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactivate_Provision</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>YesActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extend_Provision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Provisions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provisions Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Provision</name>
        <label>Create Provision</label>
        <locationX>927</locationX>
        <locationY>57</locationY>
        <inputAssignments>
            <field>AD_Account_Created_Updated__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITS_Action__c</field>
            <value>
                <stringValue>To Be Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>cName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Programme__c</field>
            <value>
                <elementReference>vStudentProgrammeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Staff__c</field>
            <value>
                <elementReference>vStudentID</elementReference>
            </value>
        </inputAssignments>
        <object>Provision__c</object>
    </recordCreates>
    <recordLookups>
        <name>Provision</name>
        <label>Provision</label>
        <locationX>466</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Provision</targetReference>
        </connector>
        <filters>
            <field>Student_Staff__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStudentID</elementReference>
            </value>
        </filters>
        <object>Provision__c</object>
        <outputAssignments>
            <assignToReference>varPL_AD_Create_Update</assignToReference>
            <field>AD_Account_Created_Updated__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varB_Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varD_Expiry_Date</assignToReference>
            <field>Expiry_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPL_ITS_Action</assignToReference>
            <field>ITS_Action__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_ProvisionID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Extend_Provision</name>
        <label>Extend Provision</label>
        <locationX>692</locationX>
        <locationY>327</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_ProvisionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AD_Account_Created_Updated__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITS_Action__c</field>
            <value>
                <stringValue>To Be Extended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Programme__c</field>
            <value>
                <elementReference>vStudentProgrammeId</elementReference>
            </value>
        </inputAssignments>
        <object>Provision__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reactivate_Provision</name>
        <label>Reactivate Provision</label>
        <locationX>930</locationX>
        <locationY>186</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_ProvisionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AD_Account_Created_Updated__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITS_Action__c</field>
            <value>
                <stringValue>To Be Reactivated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Programme__c</field>
            <value>
                <elementReference>vStudentProgrammeId</elementReference>
            </value>
        </inputAssignments>
        <object>Provision__c</object>
    </recordUpdates>
    <startElementReference>Provision</startElementReference>
    <variables>
        <name>varB_Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varD_Expiry_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPL_AD_Create_Update</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPL_ITS_Action</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varR_ProvisionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStudentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStudentProgrammeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
