flows/Research_Period_Supervision_PAP_Member_Clone-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_to_creation_collection</name>
        <label>Assign to creation collection</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>socPAPMemberstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lvRelatedPAPMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_PAP_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_creation_collection_sup</name>
        <label>Assign to creation collection</label>
        <locationX>1088</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>socSupervisionstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lvSupervisions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Supervisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_Assessed_Period</name>
        <label>Set new Assessed Period</label>
        <locationX>445</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>lvRelatedPAPMembers.Research_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTCurrentResearchPeriodId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_creation_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_Research_Period_Id</name>
        <label>Set new Research Period Id</label>
        <locationX>856</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>lvSupervisions.Research_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTCurrentResearchPeriodId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_creation_collection_sup</targetReference>
        </connector>
    </assignments>
    <description>Clone Supervision Records and PAP Member records associated to Previous Period record.</description>
    <interviewLabel>Research Period - Supervision &amp; PAP Member Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Research Period - Supervision &amp; PAP Member Clone</label>
    <loops>
        <name>Related_PAP_Members</name>
        <label>Related PAP Members</label>
        <locationX>445</locationX>
        <locationY>123</locationY>
        <assignNextValueToReference>lvRelatedPAPMembers</assignNextValueToReference>
        <collectionReference>socPreviousPAPMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_Assessed_Period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PAP_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Related_Supervisions</name>
        <label>Related Supervisions</label>
        <locationX>856</locationX>
        <locationY>124</locationY>
        <assignNextValueToReference>lvSupervisions</assignNextValueToReference>
        <collectionReference>socSupervisions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_Research_Period_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Supervisions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PAP_Members</name>
        <label>Create PAP Members</label>
        <locationX>650</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>Supervisions</targetReference>
        </connector>
        <inputReference>socPAPMemberstoCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Supervisions</name>
        <label>Create_Supervisions</label>
        <locationX>1077</locationX>
        <locationY>123</locationY>
        <inputReference>socSupervisionstoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>PAP_Members</name>
        <label>PAP Members</label>
        <locationX>250</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_PAP_Members</targetReference>
        </connector>
        <filters>
            <field>Research_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTPreviousPeriodId</elementReference>
            </value>
        </filters>
        <object>PAP_Member__c</object>
        <outputReference>socPreviousPAPMembers</outputReference>
        <queriedFields>Panel_Member__c</queriedFields>
        <queriedFields>Research_Period__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Supervisions</name>
        <label>Supervisions</label>
        <locationX>649</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Supervisions</targetReference>
        </connector>
        <filters>
            <field>Research_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTPreviousPeriodId</elementReference>
            </value>
        </filters>
        <object>Supervision__c</object>
        <outputReference>socSupervisions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supervisor__c</queriedFields>
        <queriedFields>Primary_Supervisor__c</queriedFields>
        <queriedFields>Supervisor_Weighting__c</queriedFields>
        <queriedFields>Research_Department__c</queriedFields>
        <queriedFields>Student_Programme__c</queriedFields>
        <queriedFields>HESA_Collaborating_Provider_temp__c</queriedFields>
        <queriedFields>HESA_Unit_of_Assessment_temp__c</queriedFields>
        <queriedFields>Research_Period__c</queriedFields>
    </recordLookups>
    <startElementReference>PAP_Members</startElementReference>
    <variables>
        <name>lvRelatedPAPMembers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>lvSupervisions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supervision__c</objectType>
    </variables>
    <variables>
        <name>socPAPMemberstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>socPreviousPAPMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PAP_Member__c</objectType>
    </variables>
    <variables>
        <name>socSupervisions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supervision__c</objectType>
    </variables>
    <variables>
        <name>socSupervisionstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supervision__c</objectType>
    </variables>
    <variables>
        <name>varTCurrentResearchPeriodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTPreviousPeriodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTStudentProgrammeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
