flows/Resits-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Mit_Circ_Lookup</name>
        <label>Has Accepted Mit Circs?</label>
        <locationX>524</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Error_Page_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTMitCirc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Resit_Student_Assessment_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTMitCirc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Resit_Student_Assessment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>For Student Assessment object</description>
    <formulas>
        <name>Resit_Increment</name>
        <dataType>Number</dataType>
        <expression>{!vaResitLevel} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Sit_Increment</name>
        <dataType>Number</dataType>
        <expression>{!vaSitLevel} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Resits Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resits Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Resit_Student_Assessment</name>
        <label>Create Resit Student Assessment</label>
        <locationX>655</locationX>
        <locationY>371</locationY>
        <assignRecordIdToReference>vaNewStudAssessID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Current_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessment__c</field>
            <value>
                <elementReference>vaAssessmentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vaStudAssessName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Sitting__c</field>
            <value>
                <elementReference>vaCurrentStudAssessID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resit_Level__c</field>
            <value>
                <elementReference>Resit_Increment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sit_Level__c</field>
            <value>
                <elementReference>vaSitLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Module__c</field>
            <value>
                <elementReference>vaStudModuleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>vaStudentID</elementReference>
            </value>
        </inputAssignments>
        <object>Student_Assessment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Resit_Student_Assessment_0</name>
        <label>Create Resit Student Assessment</label>
        <locationX>359</locationX>
        <locationY>372</locationY>
        <assignRecordIdToReference>vaNewStudAssessID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Current_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessment__c</field>
            <value>
                <elementReference>vaAssessmentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vaStudAssessName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Sitting__c</field>
            <value>
                <elementReference>vaCurrentStudAssessID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resit_Level__c</field>
            <value>
                <elementReference>vaResitLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sit_Level__c</field>
            <value>
                <elementReference>Sit_Increment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Module__c</field>
            <value>
                <elementReference>vaStudModuleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>vaStudentID</elementReference>
            </value>
        </inputAssignments>
        <object>Student_Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Current_Student_Assessment</name>
        <label>Current Student Assessment</label>
        <locationX>524</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mit_Circ_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaCurrentStudAssessID</elementReference>
            </value>
        </filters>
        <object>Student_Assessment__c</object>
        <outputAssignments>
            <assignToReference>vaAssessmentID</assignToReference>
            <field>Assessment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTMitCirc</assignToReference>
            <field>Mitigating_Circumstances__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaStudAssessName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaResitLevel</assignToReference>
            <field>Resit_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaSitLevel</assignToReference>
            <field>Sit_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaStudModuleID</assignToReference>
            <field>Student_Module_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaStudentID</assignToReference>
            <field>Student__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Record_0</name>
        <label>Update Current Record</label>
        <locationX>524</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaCurrentStudAssessID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inactive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Student_Assessment__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>524</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have successsfully created the new Resit Student Assessment record. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!vaNewStudAssessID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;Go to Resit record&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!vaCurrentStudAssessID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;Go to Previous Sitting record&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!vaStudModuleID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;View Student Module&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CCCCCC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!vaStudentID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;View Student&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#999999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Page_1</name>
        <label>Error Page 1</label>
        <locationX>913</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>An error has occured:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Current_Student_Assessment</startElementReference>
    <variables>
        <description>ID of generic Assessment record to which the Student Assessment and its resits are related</description>
        <name>vaAssessmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaCurrentStudAssessID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaMitCirc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaNewStudAssessID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaResitLevel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTMitCirc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaSitLevel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vaStudAssessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaStudentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaStudModuleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
