flows/Select_Supervisors-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Id_for_single_Supervisor</name>
        <label>Add Id for single Supervisor</label>
        <locationX>354</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>so_SingleSelectedSupervisor.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSingleSupervisorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>so_SingleSelectedSupervisor.Student_Programme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTStudentProgrammeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>182</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>socRemainingSupervisors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>so_SingleSelectedSupervisor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Id_Counter_subsequent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_first_Supervisor</name>
        <label>Remove first Supervisor</label>
        <locationX>539</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>varTSelectedSupervisorIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemainingSupervisorIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Id_for_single_Supervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Supervisor</name>
        <label>Selected Supervisor</label>
        <locationX>352</locationX>
        <locationY>90</locationY>
        <assignmentItems>
            <assignToReference>varTSelectedSupervisorIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectSupervisors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Supervisor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ID_Counter_first</name>
        <label>Check ID Counter first</label>
        <locationX>718</locationX>
        <locationY>90</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_first_Supervisor</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Id_Counter_subsequent</name>
        <label>Check Id Counter subsequent</label>
        <locationX>360</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Remaining_Supervision_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1_second</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_first_Supervisor</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RegisteredSupervisors</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Staff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registered_Supervisor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fCounter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!fLength}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!varTSelectedSupervisorIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fRemainingSupervisorIds</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varTSelectedSupervisorIds},({!fLength}-20) ))</expression>
    </formulas>
    <formulas>
        <name>fSingleSupervisorId</name>
        <dataType>String</dataType>
        <expression>LEFT({!varTSelectedSupervisorIds},18)</expression>
    </formulas>
    <interviewLabel>Select Supervisors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Supervisors</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>First_Supervisor</name>
        <label>First Supervisor</label>
        <locationX>530</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>Check_ID_Counter_first</targetReference>
        </connector>
        <inputAssignments>
            <field>Student_Programme__c</field>
            <value>
                <elementReference>varTStudentProgrammeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor__c</field>
            <value>
                <elementReference>fSingleSupervisorId</elementReference>
            </value>
        </inputAssignments>
        <object>Supervision__c</object>
    </recordCreates>
    <recordCreates>
        <name>Remaining_Supervision_Records</name>
        <label>Remaining Supervision Records</label>
        <locationX>364</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>socRemainingSupervisors</inputReference>
    </recordCreates>
    <screens>
        <name>Select_Supervisors</name>
        <label>Select Supervisors</label>
        <locationX>182</locationX>
        <locationY>89</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Supervisor</targetReference>
        </connector>
        <fields>
            <name>SelectText</name>
            <fieldText>Select one or more Supervisors to assign to {!varTStudentName}&apos;s research proposal.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectSupervisors</name>
            <choiceReferences>RegisteredSupervisors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Registered Supervisors</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SelectHelp2</name>
            <fieldText>Note, only Registered Supervisors are displayed. If you do not see the person you are searching for, ensure that person has a Contact record in SIS with record type of &apos;Staff&apos; and &apos;Registered Supervisor&apos; set to TRUE.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>717</locationX>
        <locationY>340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SupervisorsAdded</name>
            <fieldText>Selected Supervisors have been successfully assigned to this Student.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Select_Supervisors</startElementReference>
    <variables>
        <name>so_SingleSelectedSupervisor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supervision__c</objectType>
    </variables>
    <variables>
        <name>socRemainingSupervisors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supervision__c</objectType>
    </variables>
    <variables>
        <name>varTSelectedSupervisorIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTStudentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTStudentProgrammeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
