flows/Student_Module_Score_Roll_Up-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SumModuleScores</name>
        <label>SumModuleScores</label>
        <locationX>623</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>vSumOfFinalModuleScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lv_StudentModuleScore.Weighted_Module_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Student_Modules</targetReference>
        </connector>
    </assignments>
    <description>With decimal places</description>
    <interviewLabel>Student Module Score Roll Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Module Score Roll Up</label>
    <loops>
        <name>Loop_Student_Modules</name>
        <label>Loop Student Modules</label>
        <locationX>624</locationX>
        <locationY>144</locationY>
        <assignNextValueToReference>lv_StudentModuleScore</assignNextValueToReference>
        <collectionReference>socStudentModules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumModuleScores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Student_Programme</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Student_Module_Score_Lookup</name>
        <label>Student Module Score Lookup</label>
        <locationX>426</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Student_Modules</targetReference>
        </connector>
        <filters>
            <field>Student_Programme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStudProg</elementReference>
            </value>
        </filters>
        <object>Student_Module__c</object>
        <outputReference>socStudentModules</outputReference>
        <queriedFields>Module_Score__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Student_Programme__c</queriedFields>
        <queriedFields>Weighted_Module_Score__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Student_Programme</name>
        <label>Update Student Programme</label>
        <locationX>844</locationX>
        <locationY>142</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStudProg</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Module_Score__c</field>
            <value>
                <elementReference>vSumOfFinalModuleScore</elementReference>
            </value>
        </inputAssignments>
        <object>Student_Programme__c</object>
    </recordUpdates>
    <startElementReference>Student_Module_Score_Lookup</startElementReference>
    <variables>
        <name>lv_StudentModuleScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student_Module__c</objectType>
    </variables>
    <variables>
        <name>socStudentModules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student_Module__c</objectType>
    </variables>
    <variables>
        <name>vStudProg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSumOfFinalModuleScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
